- $business = review.business
- $user = review.user

%li(class="review-list-item" data_id="#{review.id}")
  .recent-activity-reviewer-info
    .user-icon-small
      = link_to user_path($user), class: "btn" do
        - unless $user.avatar.file.nil?
          = image_tag($user.avatar_url(:thumb).to_s)
        - else
          %span.glyphicon.glyphicon-user
    %b
      = link_to $user.name, user_path($user)
    %span wrote a review

  .icon-wrapper
    .business-list-icon
      = link_to city_business_path($business.city, $business), class: "btn" do
        - if $business.has_images?
          = image_tag($business.business_pics.last.image_url.to_s)
        - else
          %span(class="glyphicon #{$business.category_icon}")

  .business-list-details-main
    %h4
      = link_to $business.name, city_business_path($business.city, $business)
    .business-rating
      .star-rating
        / Declare Variable
        - $rating = review.star_rating
        - $color = star_color($rating)
        .star-box(class="#{ $rating > 0 ? $color : '' }")
          %span.glyphicon.glyphicon-star
        .star-box(class="#{ $rating >= 2 ? $color : '' }")
          %span.glyphicon.glyphicon-star
        .star-box(class="#{ $rating >= 3 ? $color : '' }")
          %span.glyphicon.glyphicon-star
        .star-box(class="#{ $rating >= 4 ? $color : '' }")
          %span.glyphicon.glyphicon-star
        .star-box(class="#{ $rating == 5 ? $color : '' }")
          %span.glyphicon.glyphicon-star

    %p= review.body

    .review-footer
      .review-footer-buttons
        = link_to review_stats_path(review, stat: "useful"), remote: true, method: "post", class: "btn btn-default #{review.user_voted_useful?(current_user) ? 'review-stat-selected' : ''}" do
          Useful
          %span.useful-count #{review.useful_count}
        = link_to review_stats_path(review, stat: "funny"), remote: true, method: "post", class: "btn btn-default #{review.user_voted_funny?(current_user) ? 'review-stat-selected' : ''}" do
          Funny
          %span.funny-count #{review.funny_count}
        = link_to review_stats_path(review, stat: "cool"), remote: true, method: "post", class: "btn btn-default #{review.user_voted_cool?(current_user) ? 'review-stat-selected' : ''}" do
          Cool
          %span.cool-count #{review.cool_count}
