.section-wrapper
  = render "city_list_header", city_name: @city.name, category: "Upcoming Events"

.section-wrapper
  %section.ui-index
    %ul.businesses-list
      - if @events.size == 0
        %p.empty-list-2 There are no upcoming events in #{@city.name}
      - else
        - @events.each_with_index do |event, index|
          = render "event_list_item", index: index + 1, event: event

    - if @pages > 1
      .pagination-bar
        .current-page Page #{@count} of #{@pages}
        .page-links
          - if @count > 1
            = link_to "prev", city_events_path(@city, count: @count - 1), remote: true

          - 1.upto(@pages) do |n|
            - if @count == n
              %span #{n}
            - else
              %span
                = link_to n, city_events_path(@city, count: n), remote: true

          - if @count < @pages
            %span
              = link_to "next", city_events_path(@city, count: @count + 1), remote: true
          - else
            %span.grayed-link next
