<script>Stripe.setPublishableKey("#{ENV['STRIPE_PUBLISHABLE_KEY']}");</script>
= javascript_include_tag 'payments'

%section.ui-form-page
  = render 'shared/messages'

  = form_tag donations_path, class: "form-group", id: "payment-form" do
    %h1 Make a Donation!

    %p.test_card_notice
      The credit card processing service is currently operating in test mode, so no cards will actually be charged. You can use one of these
      = link_to "Test Cards", test_cards_path, target: '_blank'
      to donate fake money.

    .user-form-field
      = label_tag :amount, "Donation Amount"
      = select_tag :amount, options_for_select([["$1.00", 100],["$5.00", 500], ["$10.00", 1000], ["$25.00", 2500], ["$50.00", 5000], ["$100.00", 10000]]), class: "form-control"

    %fieldset.credit_card
      %span.payment-errors
      .user-form-field
        %label(for="credit-card-number") Credit Card Number
        %input.form-control(type="text" data-stripe="number")
      .user-form-field
        %label(for="security-code") Security Code
        %input.form-control(type="text" data-stripe="cvc")
      .user-form-field
        %label Expiration
        .select_credit_card_date
          = select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: { stripe: "exp-month" })
          = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control', data: { stripe: "exp-year" })

    %fieldset
      = submit_tag "Submit", class: "btn write-review"
