%section.ui-index
  %h3 All Businesses: Los Angeles
  %hr.line-break

  %ul.businesses-list
    %li
      .business-list-icon
        = link_to "", class: "btn" do
          %span.glyphicon.glyphicon-cutlery
      .business-list-details
        %h4
          %span 1.
          = link_to "Fatburger"
        .business-rating
          .star-rating
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box
              %span.glyphicon.glyphicon-star
          %span.number-of-reviews
            114 reviews
        .price-and-type
          $$ &#8226;
          = link_to "Hamburgers"
      .business-list-address
        %p Chinatown
        %p 727 N Broadway
        %p Los Angeles, CA 90012
        %p Phone number (213) 935-8399

    %li
      .business-list-icon
        = link_to "", class: "btn" do
          %span.glyphicon.glyphicon-cutlery
      .business-list-details
        %h4
          %span 2.
          = link_to "In N Out Burger"
        .business-rating
          .star-rating
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box
              %span.glyphicon.glyphicon-star
            .star-box
              %span.glyphicon.glyphicon-star
          %span.number-of-reviews
            221 reviews
        .price-and-type
          $$ &#8226;
          = link_to "Hamburgers"
      .business-list-address
        %p Downtown
        %p 707 S Grand Ave
        %p Los Angeles, CA 90017
        %p Phone number (424) 362-6263

    %li
      .business-list-icon
        = link_to "", class: "btn" do
          %span.glyphicon.glyphicon-cutlery
      .business-list-details
        %h4
          %span 3.
          = link_to "Umami Burger"
        .business-rating
          .star-rating
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box
              %span.glyphicon.glyphicon-star
            .star-box
              %span.glyphicon.glyphicon-star
          %span.number-of-reviews
            45 reviews
        .price-and-type
          $$ &#8226;
          = link_to "Hamburgers"
      .business-list-address
        %p Koreatown, Wilshire Center
        %p 3603 W 6th St
        %p Los Angeles, CA 90020
        %p Phone number (213) 263-2355
    %li
      .business-list-icon
        = link_to "", class: "btn" do
          %span.glyphicon.glyphicon-glass
      .business-list-details
        %h4
          %span 4.
          = link_to "Short Stop"
        .business-rating
          .star-rating
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box
              %span.glyphicon.glyphicon-star
            .star-box
              %span.glyphicon.glyphicon-star
          %span.number-of-reviews
            96 reviews
        .price-and-type
          $$ &#8226;
          = link_to "Bars"
      .business-list-address
        %p Echo Park
        %p 1455 W Sunset Blvd
        %p Los Angeles, CA 90026
        %p Phone number (213) 482-4942
    %li
      .business-list-icon
        = link_to "", class: "btn" do
          %span.glyphicon.glyphicon-wrench
      .business-list-details
        %h4
          %span 5.
          = link_to "Jim's Hardware"
        .business-rating
          .star-rating
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box.star-box-starred
              %span.glyphicon.glyphicon-star
            .star-box
              %span.glyphicon.glyphicon-star
            .star-box
              %span.glyphicon.glyphicon-star
          %span.number-of-reviews
            96 reviews
        .price-and-type
          $$ &#8226;
          = link_to "Hardware Stores"
      .business-list-address
        %p Echo Park
        %p 93 Echo Park Blvd
        %p Los Angeles, CA 90026
        %p Phone number (213) 482-4942

  .pagination-bar
    .current-page Page 1 of 100
    .page-links
      %span 1
      %span
        = link_to "2"
      %span
        = link_to "3"
      %span
        = link_to "4"
      %span
        = link_to "5"
      %span
        = link_to "6"
      %span
        = link_to "7"
      %span
        = link_to "8"
      %span
        = link_to "9"
      %span
        = link_to "Next"
