%section.user-gray-header
  .user-profile-header
    .user-icon
      %span.glyphicon.glyphicon-user
    .user-info
      %h1 John Doe
      %h4 Los Angeles, CA
      .user-header-stats
        .user-header-stat
          %span.glyphicon.glyphicon-user
          %span <b>15</b> Friends
        .user-header-stat
          %span.glyphicon.glyphicon-star-empty
          %span <b>3</b> Reviews
        %p.user-profile-tagline
          "Hi. Welcome to my profile!"
    .interact-with-user
      %ul
        %li
          %span.glyphicon.glyphicon-plus
          = link_to "Add friend", class: "interact-with-user-link"
        %li
          %span.glyphicon.glyphicon-user
          = link_to "Follow John Doe", class: "interact-with-user-link"
        %li
          %span.glyphicon.glyphicon-comment
          = link_to "Send Message", class: "interact-with-user-link"

%section.ui-user-profile
  .user-left-sidebar
    %h2 John Doe's Profile
    %ul
      %li
        = link_to "Profile Overview"
      %li
        = link_to "Friends", "", class: "user-current-tab"
      %li
        = link_to "Reviews"
      %li
        = link_to "Bookmarks"

  .user-main-content-wide
    %h2 Friends
    .user-friends
      %ul
        %li
          .user-friend-thumb
            .friend-icon
              = link_to "", class: "btn" do
                %span.glyphicon.glyphicon-user
            .friend-details
              %h5
                = link_to "Bob Smith"
              %h6 Los Angeles, CA
              .friend-thumb-stats
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-user
                  %span <b>15</b>
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-star-empty
                  %span <b>3</b>
        %li
          .user-friend-thumb
            .friend-icon
              = link_to "", class: "btn" do
                %span.glyphicon.glyphicon-user
            .friend-details
              %h5
                = link_to "Bob Smith"
              %h6 Los Angeles, CA
              .friend-thumb-stats
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-user
                  %span <b>15</b>
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-star-empty
                  %span <b>3</b>
        %li
          .user-friend-thumb
            .friend-icon
              = link_to "", class: "btn" do
                %span.glyphicon.glyphicon-user
            .friend-details
              %h5
                = link_to "Bob Smith"
              %h6 Los Angeles, CA
              .friend-thumb-stats
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-user
                  %span <b>15</b>
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-star-empty
                  %span <b>3</b>
        %li
          .user-friend-thumb
            .friend-icon
              = link_to "", class: "btn" do
                %span.glyphicon.glyphicon-user
            .friend-details
              %h5
                = link_to "Bob Smith"
              %h6 Los Angeles, CA
              .friend-thumb-stats
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-user
                  %span <b>15</b>
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-star-empty
                  %span <b>3</b>
        %li
          .user-friend-thumb
            .friend-icon
              = link_to "", class: "btn" do
                %span.glyphicon.glyphicon-user
            .friend-details
              %h5
                = link_to "Bob Smith"
              %h6 Los Angeles, CA
              .friend-thumb-stats
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-user
                  %span <b>15</b>
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-star-empty
                  %span <b>3</b>
        %li
          .user-friend-thumb
            .friend-icon
              = link_to "", class: "btn" do
                %span.glyphicon.glyphicon-user
            .friend-details
              %h5
                = link_to "Bob Smith"
              %h6 Los Angeles, CA
              .friend-thumb-stats
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-user
                  %span <b>15</b>
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-star-empty
                  %span <b>3</b>
        %li
          .user-friend-thumb
            .friend-icon
              = link_to "", class: "btn" do
                %span.glyphicon.glyphicon-user
            .friend-details
              %h5
                = link_to "Bob Smith"
              %h6 Los Angeles, CA
              .friend-thumb-stats
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-user
                  %span <b>15</b>
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-star-empty
                  %span <b>3</b>
        %li
          .user-friend-thumb
            .friend-icon
              = link_to "", class: "btn" do
                %span.glyphicon.glyphicon-user
            .friend-details
              %h5
                = link_to "Bob Smith"
              %h6 Los Angeles, CA
              .friend-thumb-stats
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-user
                  %span <b>15</b>
                .friend-thumb-stat
                  %span.glyphicon.glyphicon-star-empty
                  %span <b>3</b>
